In [165]:
#Purchase_data.csv
#NOT DONE

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [166]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
loading = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purdat = pd.read_csv(loading)

## Player Count

* Display the total number of players

In [167]:
new_file = purdat.loc[: , "Item ID"]
cha = len(new_file)
print("Total Number of Players",cha)

Total Number of Players 780

In [168]:
#Count unique value
g = purdat.groupby("SN")
p = purdat.loc[:, "Purchase ID"]
lev = g.count()
new = lev.count()
print(new)

Purchase ID    576
Age            576
Gender         576
Item ID        576
Item Name      576
Price          576
dtype: int64

In [169]:
totp = len(p)
print("Total Number of Purchases:", totp)

Total Number of Purchases: 780

In [170]:
purcavg = purdat.loc[:, "Price"]
newavg = sum(purcavg)
avgnew = len(purcavg)
avg = newavg/avgnew
print("Price Average:","$",round(avg))
print("Total Revenue:","$",round(newavg))

Price Average: $ 3
Total Revenue: $ 2380

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [171]:
#Mean function
gen = pd.DataFrame(purdat)
gen.items()
malev = True;False
femev = True;False
othev = True;False
malev = gen['Gender']=='Male'
femev = gen['Gender']=='Female'
othev = gen['Gender']=='Other / Non-Disclosed'
newmale = gen[malev]
newfema = gen[femev]
newovet = gen[othev]
maleco = newmale.count()
femco = newfema.count()
othco = newovet.count()

genr = gen['Gender'].value_counts()/gen['Gender'].count()*100
newgenr = round(genr)
print("Percent of diffrent Gender Classes:",newgenr)

Percent of diffrent Gender Classes: Male                     84.0
Female                   14.0
Other / Non-Disclosed     2.0
Name: Gender, dtype: float64

In [172]:
print("Number of Males in Each Category:",maleco)
mprice =  newmale.loc[:,"Price"]
totpm = sum(mprice)
print("$",round(totpm))

Number of Males in Each Category: Purchase ID    652
SN             652
Age            652
Gender         652
Item ID        652
Item Name      652
Price          652
dtype: int64
$ 1968

In [173]:
print("Number of Females in Each Category:",femco)
fprice = newfema.loc[:,"Price"]
totf = sum(fprice)
print("$",round(totf))

Number of Females in Each Category: Purchase ID    113
SN             113
Age            113
Gender         113
Item ID        113
Item Name      113
Price          113
dtype: int64
$ 362

In [174]:
print("Number of Other / Non-Disclosed in Each Category:",othco)
oprice = newovet.loc[:,"Price"]
toto = sum(oprice)
print("$",round(toto))

Number of Other / Non-Disclosed in Each Category: Purchase ID    15
SN             15
Age            15
Gender         15
Item ID        15
Item Name      15
Price          15
dtype: int64
$ 50

## Gender Demographics

In [175]:
age = purdat.loc[:,"Age"]
ufo_df = purdat.loc[purdat["Age"] == "0;18", :]
purdat.groupby(['0-21'])['Age'].aggregation()

KeyError: '0-21'


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [ ]:
#ACROSS ALL DATA
#Total Number of Purchases
#Total revenue

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [ ]:
#Calculate bins
#Almost same code

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame